@()

@main("Welcome to Play") {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<ul id="persons"></ul>-->


    <form method="POST" action="@routes.ReviewController.updateData()">
        Make sure you press this button to load the data before doing any other operation
        <button class="btn btn-primary">Update Data</button>
    </form>
    </br>
    </br>
    <form method="GET" action="@routes.ReviewController.getTopReviews()">
        Query tokens: <input type="text" name="tokens" placeholder="Space seperated tokens"/>

        K = <input type="text" name="numberOfResults"/>

        <button>Query</button>
    </form>
}
