@(reviews: List[helpers.ReviewHelper])

<table class="table table-stripped">

    <thead>
        <th>Product ID</th>
        <th>User ID</th>
        <th>Review Score</th>
        <th>Score</th>
    </thead>
    <tbody>
        @for(review <- reviews) {
            <tr>
                <td> @review.getReview().getProduct.getProductID()</td>
                <td> @review.getReview().getUserID()</td>
                <td> @review.getReview().getScore()</td>
                <td> @review.getScore()</td>
            </tr>
        }
    </tbody>
</table>
@index()